#header #welcome {
    margin-left: auto;
    margin-right: var(--lumo-space-m);
}

#header {
    background-color:white;
    display: table;
    width: 100%;
    margin: 0 auto;
    height : 63px;
}

#moduleList {
    display: block;
    max-width: 85%;
}

#welcomeContainer {
    display: table-cell;
    text-align: center;
        vertical-align: middle;
    width : 10%;
    padding:0;
    margin-top:15px;
}

#horizontalAlignContainer {
    padding-top:15px;
}

::part(overflow-button) {
    margin: 0;
    --lumo-font-family:  Arial, sans-serif !important;
    --lumo-primary-text-color: var(--lumo-shade-70pct);
    --lumo-primary-color: var(--lumo-shade-50pct);
    --lumo-font-size-m: 0.800rem;
    border-right: 1px solid #dadada;
    height:63px;
    color:white;
    box-sizing: border-box;
    background: url('https://api.iconify.design/vaadin:angle-double-right.svg?color=%23676767') no-repeat center center / contain;
 }

#welcomeContainer> * {
    display: inline;
    padding-top:15px;
}

#windows, #welcomeContainer::part(menu-bar-button) {
   --lumo-primary-text-color: var(--lumo-shade-70pct);
 }

#companyLogo {
    display: table-cell;
    width: 10%;
    border-right: 1px solid #dadada;
}

#windows, #welcome ::part(menu-bar-button) {
   --lumo-primary-text-color: var(--lumo-shade-70pct);
}

#moduleList #button.active  {
      background: #009bd4;
      color: #ffffff !important;
      z-index: 5;
      @include shadow-no-top();
  }

#overlay >  [role=menu] {
    box-sizing:border-box;
  	border-bottom: 1px solid #dadada;
 }

#overlay >  [role=menu] > [role=menuitem]:hover {
    background: #d9f0f8;
 }

.vaadin-menu-item {
    color: #8f8f8f;
    width: 100%;
    font-family: Arial, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 12px !important;
}