.k-loginBox ::part(input-field) {
    background-color: var(--lumo-tint);
    box-sizing: border-box;
    border: 1px solid #dadada;
}

.k-loginBox {
    border: 1px solid #cccccc;
    padding: 20px;
    margin-top: 20px;
    background: #ffffff;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

#header {
    background-color: white;
}

.k-loginBox-pane tr:not(:nth-child(6)) td {
    vertical-align: bottom;
}

.k-loginBox {
    border: 1px solid #cccccc;
    padding: 20px;
    margin-top: 20px;
    background: white;
    box-sizing:border-box;
}

.k-loginBox-image {
    margin: 12px 0 0 0;
}

.k-loginBox-pane table tr td {
    padding: 0;
    text-align: left;
}

.k-loginBox-pane {
    padding: 1px 6px 12px 10px;
}

.k-loginBox-error {
    color: red;
}

#user_name {
    width: 150px;
    border: #dadada 1px solid;
}

.k-loginBox-info {
    margin-bottom: 6px;
    font-weight: 500;
    font-style: normal;
    color: black;
}

.k-loginBox-pane tr td {
    color:black;
    font-weight: 500;
    font-style: 500;
    line-height: 1.2em;
    padding: 6px 3px 3px 3px;
    max-height: 40px !default;
    transition: .4s !default;
    position: relative;
}

#user_name:hover {
      background: #f2f2f2;
}

.k-loginBox-pane select:hover {
      background: #f2f2f2;

}

#user_name:focus{
    background: none;
    border-bottom: #009bd4 1px solid;
}

.k-loginBox-pane select {
    border: #dadada 1px solid;
    background-color: white;
    margin-top: 10px;
}


.k-loginBox-pane label {
    font-weight: 500;
    font-style: normal;
    color: #a3a3a3;
    display: inline-block;
}

#login_button {
    display: inline-block;
    background: #009bd4;
    color: white;
    padding: 4px 6px;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2em;
    min-width: 152px;
    margin: 0;
    border: #dadada 1px solid;
}

vaadin-password-field {
    width: 150px;
}

* {
  box-sizing: border-box;
}
